* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Lato", sans-serif;
}

/* HEADER */
#cabecalho-principal {
    display: flex;             
    justify-content: space-between; 
    align-items: center;
    background-color: #1a120b;  
    padding: 20px 8%;
    color: #f5ebe0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img{
    height: 80px;
}

.logo-texto {
    font-size: 1.5rem;
    font-weight: bold;
    color: #d4a373; 
}

.lista-navegacao {
    display: flex;
    list-style: none; 
    gap: 25px;       
}


.link-nav {
    text-decoration: none;
    color: #f5ebe0;
    transition: 0.3s;
}

.link-nav:hover {
    color: #d4a373; 
}

.botao-pedido {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #d4a373;
    color: #1a120b;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.1s ease, background-color 0.2s ease;
}


.botao-pedido:hover {
    background-color: #b3865a;
    transform: scale(1.05); 
}

.botao-pedido:active {
    transform: scale(0.98);
    opacity: 0.9;
}


.radio-slide,
.check-cardapio,
.check-video {
  display: none;
}

.hero {
  width: 100%;
  height: 320px;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 320px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.slide-1 {
  background-image: url("../imagens/cafe-principal.jpg");
}

.slide-2 {
  background-image: url("../imagens/cafe-2.jpg");
}

.slide-3 {
  background-image: url("../imagens/cafe-3.jpg");
}

#s1:checked ~ .slide-1,
#s2:checked ~ .slide-2,
#s3:checked ~ .slide-3 {
  animation-name: primeiro;
}

#s1:checked ~ .slide-2,
#s2:checked ~ .slide-3,
#s3:checked ~ .slide-1 {
  animation-name: segundo;
}

#s1:checked ~ .slide-3,
#s2:checked ~ .slide-1,
#s3:checked ~ .slide-2 {
  animation-name: terceiro;
}

@keyframes primeiro {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  38% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes segundo {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  63% {
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes terceiro {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  74% {
    opacity: 1;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.escuro {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.88),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.08)
  );
}

.conteudo {
  position: relative;
  z-index: 2;
  color: white;
  padding-left: 72px;
  padding-top: 48px;
  max-width: 430px;
}

.subtitulo {
  color: #d6a328;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.conteudo h1 {
  font-family: "Playfair Display", serif;
  font-size: 58px;
  line-height: 48px;
  font-weight: 900;
  margin-bottom: 14px;
}

.conteudo h1 span {
  color: #d6a328;
}

.descricao {
  font-size: 14px;
  line-height: 21px;
  margin-top: 8px;
  margin-bottom: 22px;
}

.botoes {
  display: flex;
  align-items: center;
  gap: 20px;
}

.botao {
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.botao-cardapio {
  background-color: #d6a328;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
}

.botao-cardapio:hover {
  background-color: #b98420;
  transform: scale(1.03);
}

.botao-video {
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.botao-video:hover {
  color: #d6a328;
}

.icone-play {
  width: 32px;
  height: 32px;
  border: 1px solid #d6a328;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding-left: 2px;
}

.conteudo h1::first-letter {
  color: white;
}

.descricao::selection {
  background-color: #d6a328;
  color: black;
}

.indicadores {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.bolinha {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.bolinha:hover {
  background-color: #d6a328;
}

#s1:checked ~ .indicadores .bolinha-1,
#s2:checked ~ .indicadores .bolinha-2,
#s3:checked ~ .indicadores .bolinha-3 {
  animation-name: bolinhaPrimeira;
}

#s1:checked ~ .indicadores .bolinha-2,
#s2:checked ~ .indicadores .bolinha-3,
#s3:checked ~ .indicadores .bolinha-1 {
  animation-name: bolinhaSegunda;
}

#s1:checked ~ .indicadores .bolinha-3,
#s2:checked ~ .indicadores .bolinha-1,
#s3:checked ~ .indicadores .bolinha-2 {
  animation-name: bolinhaTerceira;
}

@keyframes bolinhaPrimeira {
  0% {
    background-color: white;
  }
  8% {
    background-color: #d6a328;
  }
  30% {
    background-color: #d6a328;
  }
  38% {
    background-color: white;
  }
  100% {
    background-color: white;
  }
}

@keyframes bolinhaSegunda {
  0% {
    background-color: white;
  }
  33% {
    background-color: white;
  }
  41% {
    background-color: #d6a328;
  }
  63% {
    background-color: #d6a328;
  }
  71% {
    background-color: white;
  }
  100% {
    background-color: white;
  }
}

@keyframes bolinhaTerceira {
  0% {
    background-color: white;
  }
  66% {
    background-color: white;
  }
  74% {
    background-color: #d6a328;
  }
  92% {
    background-color: #d6a328;
  }
  100% {
    background-color: white;
  }
}

.modal-cardapio {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.88);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-cardapio img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.fechar-cardapio {
  position: absolute;
  top: 25px;
  right: 35px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.fechar-cardapio:hover {
  color: #d6a328;
}

#abrir-cardapio:checked ~ .modal-cardapio {
  display: flex;
}

.modal-video {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.88);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.caixa-video {
  width: 650px;
  height: 365px;
  background-color: #111;
  border: 2px solid #d6a328;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.caixa-video video {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000;
}

.fechar-video {
  position: absolute;
  top: 10px;
  right: 14px;
  width: 34px;
  height: 34px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fechar-video:hover {
  color: #d6a328;
}

#abrir-video:checked ~ .modal-video {
  display: flex;
}

.sobre-nos {
  background-color: #fdf6ec;
  padding: 80px 0;
  color: #333;
}

.container-sobre {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 0 72px;
}

.sobre-conteudo {
  flex: 1;
}

.subtitulo-sobre {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #8b5e34;
  margin-bottom: 10px;
}

.subtitulo-sobre::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #8b5e34;
  margin-top: 6px;
}

.sobre-conteudo h2 {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  color: #2c1a0f;
  line-height: 1.1;
  margin-bottom: 25px;
}

.sobre-conteudo h2 span {
  color: #8b5e34;
}

.texto-descricao {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 30px;
}

.capitular {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  float: left;
  line-height: 40px;
  padding-right: 8px;
  color: #8b5e34;
}

.sobre-imagem-container {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.moldura-foto {
  position: relative;
  z-index: 2;
  width: 95%;
  height: 400px;
}

.foto-principal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 90px 90px 0 90px;
}

.selo-qualidade {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  height: 180px;
  background: #3a2a1d;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  line-height: 1.4;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  gap: 15px;
}

.icone-selo {
  width: 15px;
}

.selo-qualidade p {
  font-size: 11px;
  margin: 5px 0;
}

.decoracao-pontilhada {
  position: absolute;
  top: -20px;
  left: 40px;
  width: 60px;
  height: 60px;
  background-image: radial-gradient(#ccc 20%, transparent 20%);
  background-size: 10px 10px;
  z-index: 1;
}

.icones-diferenciais {
  display: flex;
  gap: 30px;
}

.item-icone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-icone p {
  font-size: 12px;
  font-weight: bold;
  color: #444;
}



body {
  font-family: Arial, sans-serif;
  background: #f3efe9;
}
/* SECTION */
.carrossel {
  text-align: center;
  padding: 40px;
}

.carrossel h4 {
  font-size: 12px;
  letter-spacing: 2px;
  color: #7a6f63;
}

.carrossel h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* CONTAINER */
.container {
  position: relative;
  display: flex;
  align-items: center;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 20px;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 250px;
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: left;
  scroll-snap-align: start;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.card p {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
}

.card span {
  font-weight: bold;
}

/* BOTÕES */
.seta {
  position: absolute;
  background: #2d1f14;
  color: #fff;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  z-index: 10;
}

.esquerda {
  left: -10px;
}

.direita {
  right: -10px;
}

/* BOTÃO FINAL */
.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #333;
  background: transparent;
  cursor: pointer;
  border-radius: 6px;
}